.cartItem {
    display: flex;
    width: 800px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 40px;
    padding: 0px 100px;
}

.cartImg img {
    width: 100px;
    object-fit: contain;
}

.cartInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cartButtons {
    display: flex;
    gap: 20px;
}

.cartButtons button {
    width: 30px;
    background-color: transparent;

}

.remove {
    align-self: flex-end;
    justify-self: flex-end;
    border: 2px solid transparent;

}

.quantityButtons {
    display: flex;
    justify-content: flex-start;
    border: 0px;

}

.removeButton.remove {
    width: 400px;
    border: 0px;
}