.productItem {
    width:  1224.120px;
    height: 138.500px;
    display: flex;
    margin: 50px 100px;
    gap: 100px;
    
}

.productItem__img img {
    width: 150px;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

.productItem__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.productItem__info__buttons {
    display: flex;
    align-items: center;
    gap: 40px;
}