.product img {
    width: 150px;
}

.productItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.productItem img {
    width: 100px;
}