.product img {
    width: 150px;
}

.productItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.productItem img {
    width: 100px;
}


.product {
    margin: 100px;
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 100px

}

.product img {
    width: 200px;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

.productinfo {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
}