.cartItems {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cart {
    display: flex;
}

.total {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: center;
    margin: 100px auto;
}

.total {
    margin: 100px auto;
    text-align: center;
}

.total h1 {
    position: relative;
    left: -127px;
}