.appbar {
    display: flex;
    align-content: center;
}

.logo {
display: flex;
gap: 10px;
align-content: center;
align-items: center;
margin-right: 30px;
}

.buttons {
    display: flex;
    position: relative;
    left: 60px;
    gap: 30px;
}

.wishlist__link {
    display: flex;
     align-content: center;
    align-self: center;
    align-items: center;
}

.cart__link {
    display: flex;
    align-items: center;
}

a { 
    text-decoration: none;
    color: black;
}

.searchIcon {
    color: black;
    width: 30px;
    height: 50px;
    position: relative;
    top: 4px;
    padding: -10px;
    border-radius: 50%;
    background-color: transparent;
}

.searchIcon:hover {
    background-color: #b0b0b084
}